%margin {
    margin: 0 auto;
}

%marginauto {
    margin: auto;
}

%d-flex {
    display: flex;
}

%t-a-center {
    text-align: center;
}

%d-i-block {
    display: inline-block;
}

%list-s-none {
    list-style: none;
}