$font-size_xsm: px;
$font-size_sm: px;
$font-size_md: px;
$font-size_lg: px;
$font-size_xl: px;
$font-size_xxl:px;
//-------------------------------------
$font-size_index_sm:px;
$font-size_index_md:px;
$font-size_index_lg:px;
$font-size_index_xl:px;
//-------------------------------------
$breakpoint_xxl:px;
$breakpoint_xl:px;
$breakpoint_lg:px;
$breakpoint_md:px;
$breakpoint_sm:px;
$breakpoint_xsm:px;
//--------------------------------------